#errorHandler_icon{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14pt;
    background: red;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
}

.ext_error-explorer .ext-error > * {
    margin: 0 4px;
}

.ext_error-explorer .ext-error_timestamp{
    border-left: 2px solid red;
    padding-left: 2px;
}

.ext_error-explorer .ext-error_url{
    border-bottom: 1px dotted;
    cursor: help;
}
